.label {
  border: solid 2px var(--button-normal);
  border-radius: 16px;
  height: 36px;
  display: flex;
  overflow: hidden;
  .input {
    border: none;
    background: none;
    flex: 1;
    padding-left: 10px;
    color: var(--primitive);
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: var(--text-placeholder);
    }
  }
}
