.button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  border-radius: 16px;
  background: var(--button-normal);
  color: var(--text-on-fill);
  cursor: pointer;
  &:hover {
    background: var(--button-hover);
  }
  &:focus {
    outline: 2px solid var(--border-focused);
  }
  &:disabled {
    background: var(--button-disabled);
  }
}
