.button {
  border: 1px solid var(--button-normal);
  color: var(--button-normal);
  background: none;
  height: 36px;
  border-radius: 16px;
  cursor: pointer;
  &:hover {
    border: 2px solid var(--button-hover);
  }
  &:focus {
    border: 2px solid var(--border-focused);
    outline: none;
  }
}
