.wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: min(100vw, 300px);
  .container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .create{
      .button{
        width: 100%;
      }
    }
    .joinRoom {
      border: solid 2px var(--button-normal);
      border-radius: 16px;
      height: 36px;
      display: flex;
      overflow: hidden;
      .input {
        border: none;
        background: none;
        flex: 1;
        padding-left: 10px;
        color: var(--primitive);
        &:focus {
          outline: none;
        }
        &::placeholder{
          color: var(--text-placeholder);
        }
      }
      .button {
        background: var(--button-normal);
        border: none;
        border-radius: 12px;
        width: 28px;
        height: 28px;
        margin: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background: var(--button-hover);
        }
        .icon {
          fill: white;
        }
      }
    }
  }
}