:root{
  --text-body: #1A1A1C;
  --text-description: #626264;
  --text-placeholder: #757578;
  --text-on-fill: #FFFFFF;
  --text-link: #0017C1;
  --text-hover: #000082;
  --text-active: #000082;
  --text-visited: #000082;
  --text-alert: #EC0000;
  --text-disabled: #949497;

  --icon-label: #1A1A1C;
  --icon-active: #0017C1;
  --icon-alert: #EC0000;
  --icon-disabled: #949497;

  --button-normal: #0017C1;
  --button-hover: #000082;
  --button-active: #000082;
  --button-disabled: #949497;

  --primitive: #1A1A1C;

  --background-primary: #FFFFFF;
  --background-secondary: #F1F1F4;
  --background-tertiary: #F8F8FB;

  --border-field: #1A1A1C;
  --border-divider: #D8D8DB;
  --border-focused: #CD820A;
  --border-selected: #0017C1;
  --border-alert: #EC0000;
  --border-disabled: #949497;

  --status-success: #259D63;
  --status-alert: #EC0000;
  --status-warning: #C16800;

  --chart-primary: #0017C1;
  --chart-secondary: #4979F5;
}

@media (prefers-color-scheme: dark) {
  :root{
    --text-body: #FFFFFF;
    --text-description: #B4B4B7;
    --text-placeholder: #949497;
    --text-on-fill: #FFFFFF;
    --text-link: #7096F8;
    --text-hover: #9DB7F9;
    --text-active: #9DB7F9;
    --text-visited: #9DB7F9;
    --text-alert: #FF4B36;
    --text-disabled: #757578;

    --icon-label: #FFFFFF;
    --icon-active: #7096F8;
    --icon-alert: #FF4B36;
    --icon-disabled: #757578;

    --button-normal: #7096F8;
    --button-hover: #4979F5;
    --button-active: #4979F5;
    --button-disabled: #949497;

    --primitive: #FFFFFF;
    --background-primary: #1A1A1C;
    --background-secondary: #626264;
    --background-tertiary: #414143;

    --border-field: #FFFFFF;
    --border-divider: #626264;
    --border-focused: #CD820A;
    --border-selected: #7096F8;
    --border-alert: #FF4B36;
    --border-disabled: #949497;

    --status-success: #259D63;
    --status-alert: #FF4B36;
    --status-warning: #D18D0F;

    --chart-primary: #C5D7FB;
    --chart-secondary: #9DB7F9;
  }
}