.wrapper {
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 8px;
  .container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 100%;
    max-width: 100%;
    .row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex: 1;
      gap: 16px;
    }
  }
}
