.item {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    aspect-ratio: 16/9;
    display: grid;
    place-items: center;
    position: relative;
    background: var(--background-primary);
    border: solid 1px var(--border-divider);
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    &.focus {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 16px);
      height: calc(100% - 16px);
      aspect-ratio: unset;
      margin: 8px;
      z-index: 1;
      background: var(--background-primary);
      .video {
        width: 100%;
        height: 100%;
      }
    }
    .name {
      position: absolute;
      top: 4px;
      left: 16px;
    }
    .video {
      width: 100%;
      height: 100%;
      object-fit: contain;
      pointer-events: none;
    }
  }
}
