.item {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    aspect-ratio: 16/9;
    display: grid;
    place-items: center;
    position: relative;
    .name {
      position: absolute;
      top: 0;
      left: 0;
    }
    .video {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      pointer-events: none;
    }
  }
}
